.forbidden-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
}

.homelink {
    text-decoration: underline;
    font-weight: bolder;
}