.pledge-form{
    justify-content: center;
    border-radius: 10px;
    height: 225px;
    width: 450px;
}
.thankyou-message{
    margin-left: 18%;
    font-weight: bolder;
}

.btn {
    background-color: rgb(238, 168, 38);
    color: black;
    width: 310px;
    height: 45px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#amount{
    border-style: solid;
    border-color: rgb(238, 168, 38);
    width: 300px;

}
#comment{
    border-style: solid;
    border-color: rgb(238, 168, 38);
    width: 300px; 
}