.big-container {
  width: 70%;
  margin-left: 250px;
  margin-right: 200px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.description{
  padding-left: 10%;
  padding-right: 10%;
  margin-top:1%;
}


.pledge-container {
  flex-direction: column;
  justify-content: right;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-right: 60px; */
  width: 700px;
  margin-top: 1%;
}

.single-project-image {
  width: 65%;
  border-radius: 10px;
}

.project-details {
  margin-left: 10%;
  padding: 1%;
  display: grid;
  grid-template-columns: 50% 50% 50%;
  column-gap: 10px; 
  align-content: center;
  justify-content: center;
}

.edit-buttons-container {
  display: flex;
  width: 350px;
  margin-bottom: 30px;
  /* border-style: solid;
  border-color: black; */
  margin-right: 35px;

}

form,
input {
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  /* border-style: solid; */
}

.pledges{
  width: 80%;
  border-style: solid;
  border-color: rgb(238, 168, 38);
  border-radius: 10px;
  border-width: 1px;
}

.edit-project-div{
  margin-left: 240px;
}

.edit-btn {
  width: 100px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.recent{
  margin-left: 40px;
}

.edit-project-container{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(151, 148, 148);
  padding-bottom: 20px;
  padding-right: 100px;
  border-radius: 10px;
  margin-bottom: 100px;
  border-style: solid;
}

.edit-move{
  margin-left: 50px;
}

.edit-suburb{
  margin-left: 20px;
}

.edit-beehives{
  margin-left: 33px;
}

.edit-image{
  margin-left: 12px;
}

.edit-isopen{
  margin-left: 25px;
}