.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    align-content: center;
    border-style: solid;
    border-color:grey;
    height: 25px;
    width: 300px;
    font-family: "Quicksand", sans-serif;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.signup-btn {
    align-content: center;
    border-style: solid;
    border-color:rgb(105, 165, 130);
    height: 40px;
    width: 100px;
    background-color: rgb(105, 165, 130);
    font-family: "Quicksand", sans-serif;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    margin-left: 120px;
}