input {
  border-style: solid;
  height: 25px;
  width: 300px;
  font-family: "Quicksand", sans-serif;
  padding: 1%;
  margin: 2%;
  border-radius: 5px;
  font-size: 16px;
  background-color: white; 
}

