body {
  background-color: rgb(245, 245, 245);
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}

p{
  color: black;
  
}

ul {
  font-family: "Quicksand", sans-serif;
  list-style-image: url("./marker.jpg");
  font-size:16px; 
}

h3, h4 {
  color: black;
}