.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 33);
}

.nav-links {
  /* border-style: solid; */
  font-size: 0.7em;
  text-transform: uppercase;
  padding-right: 4%;
}

.logo-div {
  display: flex;
  justify-content: center;
  background-color: white;
}

nav a:hover,
.logoutbtn:hover {
  text-decoration: underline;
}

nav p {
  font-size: 18px;
  color: white;
}

nav a {
  color: white;
  font-size: 36px;
  text-decoration: none;
}

.mainlogo {
  height: 250px;
}

.logoutbtn {
  background-color: rgb(34, 34, 33);
  border: none;
  text-transform: uppercase;
  width: 60px;
  font-size: 18px;
  /* padding-right: 30px; */
  padding-bottom: 5px;
  padding-right: 80px;
  color: white;
}
