.nav-container {
    display: flex;
    flex-direction: row; 
    height: auto; 
    justify-content: space-around;   
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: rgb(200, 200, 200);
    border-bottom-style: solid;
  }

nav p {
  font-size: 18px;
}

nav a {
    color: black;
    font-size: 36px;
    text-decoration: none;
}

.mainlogo {
  height: 100px;
  padding-right: 20px;
}

.navicon {
  height: 30px;
  padding-right: 10px
}

.logoutbtn {
  background-color: white;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}